################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ares_m3u8_download/.vs/ares_m3u8_download
